body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.bg-container{
    background-color: #1f2937 ;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    margin:0px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 52px;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
    justify-content: space-between;
    gap: 16px;
}

.summary-container{
    display: flex;
    margin: 52px;
    justify-content: space-evenly;
}

.opener{
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

.info-block > p{
    margin: 0px;
}

.sign-up-top{
    padding: 4px 16px;
}

.info-block{
    width: 300px;
}

 .summary-container > img{
    width: 400px;
    height: 200px;
}

.info-illustrations{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 52px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
}
.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.card > img{
    border:3px solid royalblue;
    border-radius: 16px;
    width: 150px;
    height:150px;
}

.text{
    width: 156px;
    text-align: center;
}

.quote-section{
    background-color: #e5e7eb;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quoter-name{
    font-style: italic;
    font-weight: bolder;
    font-size: 24px;
}

.sign-up-box{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    margin: 64px;
    padding: 60px;
}

.text-section{
    margin: 0px;
}

.sign-up{
    height: 24px;
    width: 40px;
    align-self:normal;   
}